<footer class="footer">
  <div class="confoot">
    <div class="confoot-desc-1">
      <span class="confoot-desc-1-title">
        <p class="confoot-desc-brins">BRINS</p>
        <p class="confoot-desc-website">Website</p>
      </span>
      <span class="confoot-desc-1-about">
        <p class="confoot-desc-1-about-title">ABOUT</p>
        <p class="confoot-desc-1-about-desc">
          Mitra terpercaya dan andal untuk solusi perlindungan.
        </p>
      </span>
    </div>
    <div class="confoot-desc-2"></div>
  </div>
  <div class="copyright-container">
    <div class="copyright-row-container">
      <p class="text-copyright">©Copyright BRINSWebsite 2025</p>
      <div class="text-row-container">
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
      </div>
    </div>
  </div>
</footer>
